h1 {
    /* The styling font-family specifies what font, border is creating
    a square frame around our text, while background is filling in the frame.
    color changes the colors of the specific area, and padding effects the 
    area within the frame of this element.
    */
    font-family: sans-serif;
    padding: 1em;
    max-width: 1000px;
    border: 15px solid rgb(131, 60, 131);
    background: rgb(131, 60, 131);
    color:rgb(255, 255, 255);
    text-align: center;
    /* These are the styling, these change various properties within
    our html file. We separate the areas we want styled by adding the html
    elements to specify what area it will effect
    */
}
body {
    h2{
        font-family: sans-serif;
    padding: 1em;
    max-width: 1000px;
    color: rgb(131, 60, 131)
}
   p{ 
    font-family: sans-serif;
    max-width: 1000px;
    text-indent:30px;
 }
 h3 {
    font-family: sans-serif;
    max-width: 1000px;
    text-align: center;
    color: rgb(131, 60, 131)
 }
 div {
    font-family: sans-serif;
    padding: 1em;
    max-width: 1000px;
    border: 5px solid rgb(131, 60, 131);
    background: rgb(131, 60, 131);
    color:rgb(255, 255, 255);
    text-align: center;

 }
 }
